<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carry.shirodemo.mapper.Usermapper">
    <resultMap id="userMap" type="com.carry.shirodemo.bean.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.carry.shirodemo.bean.Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissions" ofType="com.carry.shirodemo.bean.Permission">
                <id property="pid" column="pid"/>
                <result property="name" column="name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findByUsername" parameterType="string" resultMap="userMap">
    <!-- 　left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录
   　    　right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录
    　　   inner join(等值连接) 只返回两个表中联结字段相等的行 -->
        select u.*,r.*,p.*
        from user u
          inner join user_role ur on ur.uid = u.uid
          inner join role r on r.rid = ur.rid
          inner join permission_role pr on pr.rid = r.rid
          inner join permission p on pr.pid = p.pid
        where u.username = #{username}
    </select>

</mapper>